<!--
#   Copyright © 2021,2022 IsardVDI S.L.
#
#   This file is part of DD
#
#   DD is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   DD is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
#   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
#   details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with DD. If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
-->
<div class="navbar nav_title" style="border: 0;">
</div>

<div class="clearfix"></div>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu mt-4">        
  <div class="menu_section">
    <h3>Administration</h3>
    <div class="clearfix"></div>
    <ul class="nav side-menu">
      <li><a class="btn-global-resync"><span style="color: #c75454; "><i class="fa fa-refresh"></i> Resync</span></a></li>
      <li><a href="/users"><i class="fa fa-user"></i> Users</a></li>
      <li><a href="/groups"><i class="fa fa-users"></i> Groups</a></li>
      <li><a href="/roles"><i class="fa fa-user-secret"></i> Roles</a></li>
      <li><a href="/sysadmin/external"><i class="fa fa-external-link"></i> Import</a></li>
      <li><a href="https://correu.{{ DOMAIN }}"><i class="fa fa-envelope"></i> Email</a></li>
      <li><a href="/dashboard"><i class="fa fa-paint-brush"></i> Customization</a></li>
      <li><a href="/legal"><i class="fa fa-legal"></i> Legal</a></li>
    

    </ul>

    {% if current_user.role == 'admin' %}
      <h3>System Admin</h3>
      <div class="clearfix"></div>
      <ul class="nav side-menu">
        <li><a href="/sysadmin/users"><i class="fa fa-user"></i> SysAdminUsers</span></a></li>
        <li><a href="/sysadmin/groups"><i class="fa fa-user"></i> SysAdminGroups</span></a></li>
      </ul>
      {% endif %}

  </div>
</div>
